#logout {
  text-decoration: none;
  color: black;
}

.dashboard {
  background-color: #d9d9d94a;
  height: 103.2vh;
  text-align: center;
}

.top {
  background-color: white !important;
}

.mini {
  color: black !important;
}

/* .navbar {
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  position: relative;
  right: 400%;
}

.navbar .pfp {
  position: relative;
  left: 300%;
} */
