* {
  margin: 0;
  padding: 0;
}

.f-login {
  display: flex;
}


h2 {
  text-align: center;
}

button.f-form-button {
  width: 100%;
  position: relative;
  top: 5px;
  padding: 10px
}

form {
  border-radius: 10%;
  padding: 60px;
  margin: auto;
  width: fit-content;
  position: relative;
  top: 10vh;
}

.f-form-group {
  text-align: left;
}
.f-form-group .f-btn-css {
  background-color: none !important;
}


.f-btn-css {
  width: 300px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #d3d3d4;
  padding: 12px;
}

.f-form-button {
  border-radius: 0 !important;
  color: black !important;
  border: none !important;
  background-color: rgb(217, 217, 217) !important;
  position: relative;
  bottom: 10px
}

.f-form-inner h2, .f-form-inner p {
  text-align: center;
}

.f-or {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

p {
  color: rgb(147, 147, 147);
  font-size: 13px;
}

.f-login {
  height: 30px;
}
.f-login a {
  margin: auto;
  text-decoration: none;
  color: black;
}

.f-login a:hover {
  color: black;
}