* {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
}

form {
  border-radius: 10%;
  padding: 60px;
  margin: auto;
  width: fit-content;
  position: relative;
  top: 10vh;
}

.n-form-group {
  text-align: center;
  padding-top: 15px;
}

.input-css {
  width: 300px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #d3d3d4;
  padding: 12px;
  margin: auto;
}

.n-form-button {
  border-radius: 0 !important;
  color: black !important;
  border: none !important;
  background-color: rgb(217, 217, 217) !important;
}

button.n-form-button {
  margin-top: 15px;
  margin-left: 32px;
  padding: 10px;
  width: 300px;  
}

.n-form-inner h2,
.n-form-inner p {
  text-align: center;
}

p {
  color: rgb(147, 147, 147);
  font-size: 12px;
}

.rules {
  /* border: 1px solid red; */
  text-align: left;
  color: rgb(147, 147, 147);
  position: relative;
  left: 12px;
  width: 360px
}

.rules strong {
  font-size: small;
  position: relative;
  left: 32px;
}

ul .regular {
  font-size:small
}

ul .small {
  font-size: 12px;
  position: relative;
  left: 10px;
}

#indicator {
  /* border: blue 1px solid; */
  margin: auto;
  width: fit-content;
}

.title, .progress {
  position: relative;
  top: 3px;
}

.title {
  font-size: small;
  text-align: left;
  width: fit-content;
}

.progress {
  text-align: left;
  width: 100%;
  height: 5px;
  margin: 1px;
}