form {
  border-radius: 10%;
  margin: auto;
  width: fit-content;
  position: relative;
  top: 40vh;
}

.p-form-button {
  border-radius: 0 !important;
  color: black !important;
  border: none !important;
  background-color: rgb(217, 217, 217) !important;
  width: 330px;
  height: 40px;
  position: relative;
  left: 10px;
}

.p-form-inner p {
  color: rgb(147, 147, 147);
  font-size: 12px;
  text-align: center;
}

.p-login {
  height: 30px;
}